<p id="notice"><%= notice %></p>

<h1>Toplcs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @toplcs.each do |toplc| %>
      <tr>
        <td><%= toplc.title %></td>
        <td><%= toplc.description %></td>
        <td><%= link_to 'Show', toplc %></td>
        <td><%= link_to 'Edit', edit_toplc_path(toplc) %></td>
        <td><%= link_to 'Destroy', toplc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Toplc', new_toplc_path %>
